

.titleText{
    padding-top: 2rem;
    
    font-size: 1.3rem;
    justify-content: center;

    display: flex;
    color: rgb(80, 82, 83);

    

}

.bigGrid{
    display: flex;
    justify-content: center;
}

.redGrid{
    
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.textGrid{
    


    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    color:rgb(87, 84, 84);
    
}

.blueGrid{
    background-color: blue;
}

.greenGrid{
    background-color: rgb(0, 243, 20);
}



.linkText{
    color: blue;
    display: flex;
    justify-content: left;
    font-size: 1.2rem;
    /* padding-left: 40rem; */
    
    cursor: pointer;
}



    