

.dropdown{
    position: absolute;
    top:40px;
    width: max-content;
    transform: translateX(-70%);
    border-top: 55px solid transparent ;
    z-index: 2;

    
    
}




.menuItem{
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgb(211, 160, 94);
    justify-content: center;
    border-radius: var(--border-radius);
    color: rgb(255, 255, 255);
    padding: 1rem;
    overflow: hidden;
    border-radius: var(--border-radius);
    transform: background var(--speed);
    
}


.menuItem:hover{
    background-color: rgb(173, 103, 10);
    
}