.colorSideGrid{
  background-color: rgb(255, 221, 241);
  
  display: flex;  
}

.titleText{
  padding-top: 2rem;
  font-size: 3rem;
  display: flex;
  color: rgb(35, 37, 37);
  justify-content: center;
}

.bigGrid{
  display: flex;
  justify-content: center;
}

.redGrid{
  display: flex;
  justify-content: center;
  padding-top: 4rem;

}

.paddedGrid{
  padding-top: 5rem;
}

.textGrid{
  background-color: rgb(255, 255, 255);

  padding-bottom: 4rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  color:rgb(87, 84, 84);

  
}

.smallText{
  background-color: rgb(255, 255, 255);

  padding-bottom: 4rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  color:rgb(87, 84, 84);

  
}




.imageText{
  display: flex;
  justify-content: center;
}

.imagePlacement{
display: flex;
justify-content: center;
}



.hrStyle{
  border-top: 1px solid rgba(15, 5, 1, 0.705);
  width:60%;
}

.bild{
  z-index: 1;
  position: relative;
}

.circleImage{
  border-radius: 50%;
}



@media (max-width: 300px){
  .titleText {
      font-size: large;
  }
}

  