.colorSideGrid{
  background-color: rgb(255, 221, 241);
  
  display: flex;  
}

.titleText{
  padding-top: 2rem;
  font-size: 3rem;
  display: flex;
  color: rgb(35, 37, 37);
  justify-content: center;
}

.bigGrid{
  display: flex;
  justify-content: center;
}

.redGrid{
  display: flex;
  justify-content: center;
  padding-top: 4rem;

}

.paddedGrid{
  padding-top: 5rem;
}

.textGrid{
  background-color: rgb(255, 255, 255);
  padding-left: 30rem;
  padding-right: 30rem;
  padding-bottom: 4rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  color:rgb(87, 84, 84);

  
}

.smallText{
  background-color: rgb(255, 255, 255);
  padding-left: 37rem;
  padding-right: 37rem;
  padding-bottom: 4rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  color:rgb(87, 84, 84);

  
}

.blueGrid{
  background-color: blue;
}

.greenGrid{
  background-color: green;
}

.purpGrid{
  background-color: purple;
}


.imageText{
  display: flex;
  justify-content: center;
}

.imagePlacement{
display: flex;
justify-content: center;
}



.hrStyle{
  border-top: 1px solid rgba(15, 5, 1, 0.705);
  width:60%;
}

.bild{
  z-index: 1;
  position: relative;
}


@media (max-width: 700px){
  .textGrid {
      padding-left: 3rem;
      padding-right: 3rem;
  }
  .titleText{
      padding-left: 2rem;
  }
  .smallText{
    padding-left: 3rem;
    padding-right: 3rem;
  }
}


  