

.dropdown{
    position:relative;
    top:46px;
    width: max-content;
    transform: translateX(-10%);
    

    border-top: 55px solid transparent;
    
    
}




.menuItem{
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgb(196, 105, 168);
   
    border-radius: var(--border-radius);
    color: rgb(255, 255, 255);
    padding: 1rem;
    overflow: hidden;
    border-radius: var(--border-radius);
    transform: background var(--speed);
}

.menuItem:hover{
    background-color: rgb(78, 4, 66);
    
}

.menu{
    width: 100%;
}

.menuPrimaryEnter{
    position: absolute;
    transform: translateX(-110%);
}

.menuPrimaryEnterActive{
    transform: translateX(0%);
    transition: all var(-500) ease; 
}

.menuPrimaryExit{
    position: absolute;
}

.menuPrimaryExitActive{
    transform: translateX(-110%);
    transition: all var(-5) ease; 
}


.menuSecondaryEnter{
    position: absolute;
    transform: translateX(110%);
}

.menuSecondaryEnterActive{
    transform: translateX(0%);
    transition: all var(-500) ease; 
}

.menuSecondaryExit{
    position: absolute;
}

.menuSecondaryExitActive{
    transform: translateX(110%);
    transition: all var(-500) ease; 
}



